 
html {
	font-size: 18px;
} 
@font-face {
	font-family: 'IRANSans';
	src: local('IRANSans'), url(./IRANSans.woff2) format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'NotoSans';
	src: local('NotoSans'), url(./NotoSans.ttf) format('truetype');
	font-display: swap;
}
  