@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas > div {
	z-index: 10000;
}
header {
	z-index: 20000;
}

body {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgb(67, 0, 70) 60%,
		rgba(0, 0, 0, 0) 100%
	);
}

html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

#three-canvas-container {
	scrollbar-gutter: stable;
}
