@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas > div {
	z-index: 10000;
}
header {
	z-index: 20000;
}

body {
	background: linear-gradient(
		180deg,
		rgba(240,230,230) 0%,
		rgb(242, 230, 230) 60%,
		rgba(240,230,230) 100%
	);
}
/* 
html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
} */

 
